* {
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-family: "Russo One", sans-serif;
    color: rgb(18, 17, 17);
}

body {
    background-image: url("../img/tree6.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.game {
    margin: 0 auto;
}

.btn {
    margin: 5px auto;
    font-family: arial black;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #F6F9CA;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid black;
    background: #eeb06d;
}

.btn:hover {
    cursor: pointer;
    color: #FDFFEE;
    background: #B0CF4B;
}

.play {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.cell {
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 1px #F6F9CA;
    transition: 0.5s;
    border-radius: 5px;
    background-color: burlywood;
    border: 1px solid black;
}

.cell:hover {
    background-color: #dfe4ce;
    cursor: pointer;
}

.shown {
    background-color: whitesmoke;
    color: black;
}

.bomb {
    box-shadow: none;
    background-color: rgb(227, 10, 10);
}

.stats {
    margin: auto;
}

.hide {
    display: none;

}

footer {
    background-image: cover;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

}
